#textdomain wesnoth-dk

[scenario]
    id=00_Foreboding_News
    name=_ "Foreboding News"
    map_file=00_Foreboding_News.map
    turns=null
    theme=cutscene
    next_scenario=01_Burial_Chamber
    {UNDERGROUND}

    {SCENARIO_MUSIC underground.ogg}
    [side]
        side=1
        controller=human
        type=Dwarvish Steelclad
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_HEALTHY}
            [object]
                silent=yes
                duration=forever
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LEADERSHIP}
                    [/abilities]
                [/effect]
            [/object]
        [/modifications]
        id=Dulotmos
        unrenamable=yes
        name= _ "Dulotmos"
        profile=portraits/Dulotmos.png
        facing=se
        canrecruit=yes
        persistent=true
        save_id=human_player
        recruit="Dwarvish Scout"
        team_name=Garhme
        {FLAG_VARIANT knalgan}
        {GOLD 0 0 0}
    [/side]
    [side]
        side=2
        controller=ai
        type=Dwarvish Lord
        id=Mardon
        name= _ "Mardon"
        profile=portraits/Mardon.png
        canrecruit=yes
        recruit=Dwarvish Fighter
        facing=se
        team_name=Garhme
        {FLAG_VARIANT knalgan}
        [unit]
            generate_name=yes
            type=Dwarvish Sentinel
            x=13
            y=11
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            {IS_LOYAL}
            facing=se
        [/unit]
        [unit]
            generate_name=yes
            type=Dwarvish Sentinel
            x=27
            y=11
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            {IS_LOYAL}
            facing=se
        [/unit]
        [unit]
            generate_name=yes
            type=Dwarvish Sentinel
            x=21
            y=16
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            {IS_LOYAL}
            facing=se
        [/unit]
        [unit]
            name=Duladoran
            type=Dwarvish Sentinel
            id=sighter
            x=19
            y=16
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            {IS_LOYAL}
            facing=se
        [/unit]
        [unit]
            generate_name=yes
            type=Dwarvish Stalwart
            x=21
            y=12
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            {IS_LOYAL}
            facing=se
        [/unit]
        [unit]
            generate_name=yes
            type=Dwarvish Stalwart
            x=19
            y=12
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            {IS_LOYAL}
            facing=se
        [/unit]
    [/side]
    [event]
        name=start
        [message]
            id=sighter
            message= _ "Huh? ...My Lord! Kalom approaches from the south!"
        [/message]
        [message]
            id=Mardon
            message= _ "Let him in!"
        [/message]
        [unit]
            type=Dwarvish Pathfinder
            id=Kalom
            side=2
            name= _ "Kalom"
            x=24
            y=20
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
            experience=26
            hitpoints=1
        [/unit]
        [message]
            id=Kalom
            message= _ "<i>*pant...pant*</i> Sire! I have come from the front lines!" # wmllint: noconvert
        [/message]
        [move_unit]
            id=Kalom
            to_x=20
            to_y=10
        [/move_unit]
        [message]
            id=Mardon
            message= _ "Kalom, what in the bloody -- what happened? You look like swine that came back from the butchery..."
        [/message]
        [message]
            id=Kalom
            message= _ "The outpost... Marne, it's fallen... We held them off as long as we could, but they were too powerful. We tried to flee, but my brothers... I am the only survivor. Those damned trolls killed me boys... and I escaped with nothing but the scars you see before you... Aargh..."
        [/message]
        [kill]
            id=Kalom
            animate=yes
            fire_event=no
        [/kill]
        [message]
            id=Mardon
            message= _ "Those forsaken trolls! They'll pay for this! First the eastern mines, and now this? This cannot stand any longer! Dulotmos, my most loyal general, I entrust this mission to you. Take our tunnels back, and give 'em hell for what they've done!"
        [/message]
        [message]
            id=Dulotmos
            message= _ "I will gather my men, make haste, and return soon, my lord. They will pay with their blood!"
        [/message]
        [move_unit]
            id=Dulotmos
            to_x=20
            to_y=15
        [/move_unit]
        [unit]
            type=DK Dwarvish Runesmith
            id=Arolmar
            side=1
            name= _ "Arolmar"
            profile=portraits/Arolmar.png
            unrenamable=yes
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_DEXTROUS}
                {TRAIT_QUICK}
            [/modifications]
            x=22
            y=14
            {IS_HERO}
            facing=sw
        [/unit]
        [message]
            id=Arolmar
            message= _ "Wait."
        [/message]
        [message]
            id=Dulotmos
            message= _ "...yes? What is it?"
        [/message]
        [message]
            id=Arolmar
            message= _ "I feel there is something more to this. This... dread, I can’t explain, but I must accompany you."
        [/message]
        [message]
            id=Dulotmos
            message= _ "Oh?"
        [/message]
        [message]
            id=Arolmar
            message= _ "I'm not sure. I've never felt this before. This... feeling is unlike any premonition or thought I've ever had in the slightest. I must go with you. I haven’t the slightest idea why."
        [/message]
        [message]
            id=Dulotmos
            message= _ "You've been at his highness’s side for years; I am sure he’ll need you more. If it’s just trolls, what could the worst be? I'll return soon; you needn't go."
        [/message]
        [message]
            id=Mardon
            message= _ "Nay. If he feels he must go then so be it. I have other advisors, we’ve already had so many brothers lost, I’d rather not see another fall for my foolishness."
        [/message]
        [message]
            id=Dulotmos
            #po: substituting "me" for "my" is an intentional stylistic choice to make his speech sound more dwarven:
            message= _ "So be it then. Arolmar, come with me. We'll get me boys and be out of here in an hour. Mardon, I will return soon."
        [/message]
    [/event]
    [event]
        name=turn 1
        [endlevel]
            result=victory
            linger_mode=no
            bonus=no
            carryover_percentage=100
            carryover_add=yes
            carryover_report=no
        [/endlevel]
    [/event]
[/scenario]
