#textdomain wesnoth-dk

[scenario]
    id=03_Feral_Tunnels
    name=_ "Feral Tunnels"
    map_data="{~add-ons/Dwarvish_Kingdom/maps/03_Feral_Tunnels.map}"
    {TURNS 40 35 30}
    next_scenario=04_Tunnels_of_Flame
    {UNDERGROUND}
    victory_when_enemies_defeated=no
    {SCENARIO_MUSIC underground.ogg}
    {SCENARIO_MUSIC knalgan-theme.ogg}
    [story]
        [part]
            music=revelation.ogg
            story= _ "Excerpt from the journal of Dulotmos of Garhme; 5,127 DE, 14 Y

Over these past few days, I have found myself reflecting on the state of our Kingdom. The state is almost abysmal. We have lost contact with numerous other nations, although the loss of contact with Knalga hit me the hardest. The trek there was always arduous at the best of times, but a complete loss of contact is wholly unexpected, and for almost a full decade! Every time we send a caravan to make contact, they report the same thing; the swarms of Orcs!

And then, after that, Gegran forbid, the Eastern Mines were overrun with trolls. For years, we've battled a losing war that has drained both our money and our ability to mine resources...

Now, of all places, the city I was born in has fallen to trolls. I will not let this misfortune simply pass by like the other ones, I will fight tooth and nail to reclaim it, unless death claims me first. My family deserve that much, at least..."
            background=story/book.png
        [/part]
    [/story]
    [if]
        [have_unit]
            id=Semas
            search_recall_list=yes
        [/have_unit]
        [then]
            [message]
                #Conditions don't work inside story, so I have this workaround. Optional extra journal entry for saving Semas/defeating the Bandits.
                speaker=narrator
                image="story/book.png"
                message= _ "Excerpt from the journal of Dulotmos of Garhme; 5,127 DE, 15 Y

Humans in our sacred burial grounds! How dare they! The tombs of our Ancestors, the ancient Heroes of Dwarfdom, who rose from the deep caves and helped us found great Empires and Nations... They treated their memory like it was nothing. The fury I felt, looking back on it, was like little I felt before. It was so powerful, so controlling... The feeling of it almost makes me fear myself.

A Dwarf has joined us, by the name of "Semas". He seems aged, but very concentrated and devoted. I am glad to have him with us, though he has shown remarkable -- and somewhat unhinged -- fighting prowess."
            [/message]
        [/then]
        [else]
        [/else]
    [/if]
    [side]
        side=1
        controller=human
        type=Dwarvish Steelclad
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_HEALTHY}
        [/modifications]
        id=Dulotmos
        unrenamable=yes
        name= _ "Dulotmos"
        profile=portraits/Dulotmos.png
        facing=se
        canrecruit=yes
        persistent=true
        save_id=human_player
        recruit=DK Dwarvish Fighter,DK Dwarvish Thunderer,Dwarvish Alchemist,Dwarvish Scout,DK Dwarvish Guardsman
        team_name=Garhme
        shroud=yes
        {FLAG_VARIANT knalgan}
        {GOLD 175 150 100}
    [/side]
    [side]
        side=2
        no_leader=yes
        controller=ai'
        team_name=Creatures
        [ai]
            [avoid]
                terrain=*^V*
            [/avoid]
        [/ai]
    [/side]
    [side]
        side=3
        no_leader=yes
        [ai]
            [caution]
                caution=1.0
            [/caution]
        [/ai]
        controller=ai
        hidden=yes
        team_name=Garhme
    [/side]
    [event]
        name=start
        [recall]
            id=Arolmar
            x=10
            y=1
        [/recall]
        [remove_shroud]
            side=1
            x=1-14
            y=1-6
        [/remove_shroud]
        [move_unit]
            id=Dulotmos
            to_x=5
            to_y=3
        [/move_unit]
        [move_unit]
            id=Arolmar
            to_x=4
            to_y=3
        [/move_unit]
        [recall]
            id=Jeman
            x=8
            y=4
        [/recall]

        #intro dialogue, tells player where we are
        [message]
            id=Arolmar
            message= _ "We are on the outskirts of Garhme, an old outpost that used to be inhabited by priests and a small number of merchants. Across the chasm there is a small mine, long since abandoned.."
        [/message]
        [message]
            id=Dulotmos
            message= _ "I remember my father telling me about this place when I was young. There was some sort of accident, wasn't there?"
        [/message]
        [message]
            id=Arolmar
            message= _ "Yes. From what I remember from scout reports which made their way to the Castle, one of the walls collapsed, exposing a tunnel heading Southeast. It didn't take long for the inhabitants of the tunnel to find their way to the breach and attack the mine. Little is remembered about the expedition inwards, or the creatures that attacked. Since the trolls captured the eastern mines, this path has seldom been taken by dwarves. Who knows what sort of foul creatures could await us. Some of the shacks used by the miners still stand, but many regard these tunnels as cursed. Priests and Nomads will occasionally come to live here for a time, but they don't stray far from the safety of the old castle."
        [/message]
        [message]
            id=Dulotmos
            message= _ "Unfortunately we don't have the luxury of time. Marne has fallen and we cannot turn our backs on our people and stop here. We will brave whatever horrors this cursed hell may have to offer, we'd be no better than elves if we didn't."
        [/message]
        #unit spawns
        #rats in mine near entrance, easy enemy to defeat before we get to the more difficult parts
        {UNIT 2 (Giant Rat) 11 8 (ai_special=guardian)}
        {UNIT 2 (Giant Rat) 9 9 (ai_special=guardian)}
        {UNIT 2 (Giant Rat) 14 9 (ai_special=guardian)}
        #Bat with the rats. dwarves deal a lot of damage and can tank hp so it should go down fairly quick. Originally, I had the ulfserker recalled as well but he is no longer
        #ecalled due to the bat.
        {UNIT 2 (Blood Bat) 5 9 (ai_special=guardian)}
        #Bat with the scorpions. this one's meant to give the island a bit more of a challenge. Formerly a Dread Bat.
        {UNIT 2 (Blood Bat) 33 15 (ai_special=guardian)}
        #Scorpions in entrance and island. island is the easier route. scorpions go down easily with everything but impact. only real danger is the poison sting
        #which alchemists can help negate and villages can heal
        {UNIT 2 (Giant Scorpion) 19 13 (ai_special=guardian)}
        {UNIT 2 (Giant Scorpion) 26 13 (ai_special=guardian)}
        {UNIT 2 (Giant Scorpion) 25 16 (ai_special=guardian)}
        {UNIT 2 (Giant Scorpion) 31 16 (ai_special=guardian)}
        #Spiders in tunnel and island after. THE TUNNEL IS INTENTIONALLY CHOKEHOLD-Y. a single unit fighting several spiders is pain. If we just do 1-2 at a time, less units
        #will be picked off easily. if the player can spare the time, then the spiders can give good XP -- they can insta levelup a few units, especially ones with INT or 1
        #prior kill
        {UNIT 2 (Cave Spider) 11 17 (ai_special=guardian)}
        {UNIT 2 (Cave Spider) 17 17 (ai_special=guardian)}
        {UNIT 2 (Cave Spider) 11 22 (ai_special=guardian)}
        {UNIT 2 (Cave Spider) 20 20 (ai_special=guardian)}
        #Water serpent to give island more of a challenge
        {UNIT 2 (Water Serpent) 33 18 (ai_special=guardian)}
        #Tentacles
        {UNIT 2 (Tentacle of the Deep) 15 25 (ai_special=guardian)}
        {UNIT 2 (Tentacle of the Deep) 20 27 (ai_special=guardian)}
        #Fire guardians, you're entering the Caverns of Flame
        {UNIT 2 (Fire Guardian) 12 32 (ai_special=guardian)}
        {UNIT 2 (Fire Guardian) 12 32 (ai_special=guardian)}
        {UNIT 2 (Fire Guardian) 12 32 (ai_special=guardian)}
        #ugly workaround I've found. I don't know why but side 1 gets the base units in the recruit list, so this removes them
    [/event]
    [event]
        name=prestart
        [disallow_recruit]
            side=1
            type=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Guardsman
        [/disallow_recruit]
    [/event]
    [event]
        name=prestart
        #helpful village for Easy players
#ifdef EASY
        {MODIFY_TERRAIN Uu^Vud 20 14}
#endif
    [/event]
    #objectives set after the context dialogue
    [event]
        name=turn 1

        [objectives]
            side=1
            [objective]
                description= _ "Make your way through the feral tunnels (Move Dulotmos to 13, 33)"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Dulotmos"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Arolmar"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            #carryover percentage high - player is not going to earn much and will use most, if not all of income. one could rush it but it's not really worth missing the xp
            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
        {PLACE_IMAGE items/gohere.png 13 33}
    [/event]
    #this is a help event, hard players can figure it out themselves
    [event]
        name=moveto
        [filter]
            side=1
            x=17
            y=12
        [/filter]
#ifndef HARD
        [message]
            speaker=unit
            message= _ "This is an old dwarvish storehouse; I found some papers inside, and it seems it was used by the expedition. To the east is the lake and an island inhabited by scorpions, and to the south is a tunnel that leads to the spiders' nest. I suggest the southern tunnel if we want to take the opportunity to rid ourselves of some of the threats to our frontier settlers."
        [/message]
#endif
    [/event]
    #troll ally spawns
    [event]
        name=moveto
        [filter]
            side=1
            x=22-27
            y=23-26
        [/filter]
        [unit]
            side=3
            hitpoints={ON_DIFFICULTY 28 27 26} # (out of 42)
            experience={ON_DIFFICULTY 29 28 27} # (out of 36}
            name=Garug
            id=Garug
            type=Troll Whelp
            x=26
            y=24
            [status]
                poisoned=yes
            [/status]
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            {IS_LOYAL}
            facing=se
        [/unit]
        {UNIT 2 (Water Serpent) 26 23 (
            role=nuisance
        )}
        [modify_unit]
            [filter]
                id="Garug"
            [/filter]
            advances_to="Troll Hero"
        [/modify_unit]
        [message]
            speaker=unit
            message= _ "I think I see a troll; it looks like he was wounded by some of the creatures here."
        [/message]
        [message]
            speaker=Garug
            message= _ "Dwarves! Help me!"
        [/message]
        [message]
            speaker=Dulotmos
            message= _ "A Troll? You know how dangerous they are! We should leave it; we are trying to save Marne from trolls for Gegran's sake!"
        [/message]
        [message]
            speaker=Arolmar
            message= _ "He is badly wounded, I doubt he will try to attack us, and so far there haven't been any other trolls. It may be wise to help him, even just for the sake of information."
        [/message]
    [/event]
    #event to check if water serpent died
    [event]
        name=die
        first_time_only=true
        [filter]
            role=nuisance
        [/filter]
        [filter_condition]
            [not]
                [have_unit]
                    role=nuisance
                [/have_unit]
            [/not]
        [/filter_condition]
        [fire_event]
            name=troll_ally
        [/fire_event]
    [/event]
    #Player saves Garug
    [event]
        name=troll_ally
        [message]
            id=Garug
            message=_"Thank you Dwarves. You saved Garug, Garug shall follow you back to Garug's clan."
        [/message]
        [message]
            id=Arolmar
            message=_"The last time I voyaged through these territories was almost four decades ago. I remember the troll settlements being sparse and scattered. Perhaps they have developed since then, it'll be interesting to find out."
        [/message]
        [message]
            id=Dulotmos
            message=_"I suppose that's fine, but he better not follow us for too long. We're trying to save our kind from his, after all."
        [/message]
        [modify_unit]
            [filter]
                id=Garug
            [/filter]
            side=1
        [/modify_unit]
    [/event]
    #VICTORY!
    [event]
        name=moveto
        [filter]
            x=13
            y=33
            id=Dulotmos
        [/filter]
        [message]
            speaker=Arolmar
            message= _ "Troll territory is just through the Tunnels of Flame. We are too far to receive help from Garhme now, but soon we will be at Marne and can finally fulfill our mission."
        [/message]
        [message]
            speaker=Dulotmos
            message= _ "We'd better hurry then! Onward!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]

    {CHARACTER_DEATHS}
    {TURNS_OVER}
[/scenario]
