#textdomain wesnoth-dk

[scenario]
    id=04_Tunnels_of_Flame
    name=_ "Tunnels of Flame"
    map_data="{~add-ons/Dwarvish_Kingdom/maps/04_Tunnels_of_Flame.map}"
    {TURNS 42 36 30}
    next_scenario=05_Troll_Domain
    {UNDERGROUND}
    #this is because if it is set to "yes", the scenario will end when you kill the goblin leader. instead, the scenario ends when you kill the troll leader.
    victory_when_enemies_defeated=no
    {SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan-theme.ogg}
	[side]
		side=1
		controller=human
		type=Dwarvish Steelclad
		[modifications]
       {TRAIT_RESILIENT}
			{TRAIT_HEALTHY}
		[/modifications]
		id=Dulotmos
		unrenamable=yes
		name= _ "Dulotmos"
     profile=portraits/Dulotmos.png
		facing=se
		canrecruit=yes
		persistent=true
		save_id=human_player
		recruit=DK Dwarvish Fighter,DK Dwarvish Thunderer,Dwarvish Alchemist,Dwarvish Scout,DK Dwarvish Guardsman
		team_name=Garhme
     shroud=yes
		{FLAG_VARIANT knalgan}
		{GOLD 225 175 150}
	[/side]
	[side]
		side=2
		controller=ai
     #no leader yet - event below. main drake guy, starting gold is less than that of trolls - drakes are weaker in this fight and are allies
     #also - fire guardians are given as a recruit to sort of explain why they're there; they have low health and will die to trolls, but they are 
     #minions of the drakes, thus why they are there
     no_leader=yes
		canrecruit=yes
		recruit=Drake Glider,Drake Fighter,Drake Burner,Drake Clasher,Fire Guardian
		team_name=Drakes,Garhme
     shroud=yes
   	share_vision=none
		{FLAG_VARIANT long}
		{GOLD 200 150 100}
	[/side]
	[side]
		side=3
		controller=ai
     no_leader=yes
     #no leader yet - event below. this is the drake general, who can hand the player his keep. he doesn't have much in terms of gold but he does have 
     #the level 2s in the spawn.
		canrecruit=yes
		recruit=Drake Glider,Drake Fighter,Drake Burner,Drake Clasher,Fire Guardian
		team_name=Drakes,Garhme
     shroud=yes
   	share_vision=none
		{FLAG_VARIANT long}
		{GOLD 75 50 0}
	[/side]
	[side]
		side=4
		controller=ai
		no_leader=yes
		canrecruit=yes
     #no leader yet - event below
		recruit=Troll Apprentice Shaman,Troll Whelp,Troll,Troll Rocklobber,Troll Shaman
		team_name=Trolls
     shroud=yes
		{FLAG_VARIANT ragged}
		{GOLD 250 300 350}
        [ai]
            [goal]
                name=target
                [criteria]
                    side=2,3
                [/criteria]
                value=16
            [/goal]
            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=4
            [/goal]
        [/ai]
	[/side]
	[side]
     #starting goblins and creatures - fodder; like the rats in S3.
		side=5
		controller=ai
     type=Goblin Rouser
     generate_name=yes
		unrenamable=yes
		canrecruit=yes
		recruit=Goblin Spearman
		team_name=Goblins
     shroud=yes
		{GOLD 0 50 75}
	[/side]
   [event]
     name=start
     id=start
     [recall]
         id=Arolmar
         x=32
         y=3
     [/recall]
		 [message]
			id=Dulotmos
			message= _ "The heat in here is unbearable, at least Marne shouldn't be too much further ahead..."
		 [/message]
		 [message]
			id=Arolmar
			message= _ "Yes, once we are through here it is just a short trek through Troll territory until we reach Marne. Unfortunately these tunnels have become overrun with goblins, drakes and other creatures in the past couple of years. We will likely have to defeat at least one of the leaders in order to pass. However dangerous the Feral Tunnels were, they are likely nothing compared to the dangers that lurk ahead.."
		 [/message]
		 [message]
			id=Dulotmos
			message= _ "So be it! Onwards to Marne!"
		 [/message]
   #early units, small challenge followed by larger challenge -- same as last scenario
        {UNIT 5 (Vampire Bat) 36 10 (ai_special=guardian)}
        {UNIT 5 (Vampire Bat) 35 12 (ai_special=guardian)}
        {UNIT 5 (Vampire Bat) 31 11 (ai_special=guardian)}
        {UNIT 5 (Fire Guardian) 36 8 (ai_special=guardian)}
        {UNIT 5 (Fire Guardian) 30 8 (ai_special=guardian)}
        {UNIT 5 (Fire Guardian) 27 8 (ai_special=guardian)}
        {UNIT 5 (Fire Guardian) 26 6 (ai_special=guardian)}
   [/event]
     [event]
        name=turn 1

        [objectives]
            side=1
            [objective]
                description= _ "Explore the Tunnels of Flame"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Dulotmos"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Arolmar"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
  	[/event]

   [event]
     name=moveto
        [filter]
            x=19-25
            y=12-17
            side=1
        [/filter]
        [unit]
            type=Drake Flameheart
            id=Drakeleader
            generate_name=yes
            canrecruit=yes
            alignment=neutral
            x=3
            y=25
            side=2
        [/unit]
        [unit]
            type=Drake Glider
            id=Drakegeneral
            generate_name=yes
            canrecruit=yes
            alignment=neutral
            #This code is supposed to prevent the allied general from dying. However, it's not working and I'm not sure how to fix it.
            [modifications]
                [object]
                    id=o1
                    silent=yes
                    [effect]
                        apply_to=movement_costs
                        replace=true
                        [movement_costs]
                            cave={UNREACHABLE}
                            flat={UNREACHABLE}
                        [/movement_costs]
                    [/effect]
                [/object]
            [/modifications]
            x=25
            y=19
            side=3
        [/unit]
        [unit]
            type=Troll Warrior
            id=Trollleader
            generate_name=yes
            canrecruit=yes
            x=3
            y=14
            side=4
        [/unit]
        #TODO: Maybe give each unit XP and health?
        {UNIT 4 (Troll) 19 17 (ai_special=guardian)}
        {UNIT 4 (Troll) 16 18 (ai_special=guardian)}
        {UNIT 4 (Troll Rocklobber) 10 18 (ai_special=guardian)}
        {UNIT 4 (Troll Shaman) 12 16 (ai_special=guardian)}
        {UNIT 4 (Troll Rocklobber) 8 16 (ai_special=guardian)}
        {UNIT 3 (Drake Fighter) 21 20 (ai_special=guardian)}
        {UNIT 3 (Drake Clasher) 25 17 (ai_special=guardian)}
        #Temple guardians - Ensures the trolls can't just kill the first wave of Drake recruits and rush the leader. Though they can go down easily to several L2 trolls.
        {UNIT 3 (Drake Thrasher) 3 24 ai_special=guardian}
        {UNIT 3 (Drake Warrior) 3 26 ai_special=guardian}
        {UNIT 3 (Drake Arbiter) 5 26 ai_special=guardian}
		 [message]
			speaker=unit
			message= _ "I hear noises up ahead!"
		 [/message]
		 [message]
			id=Drakegeneral
			message= _ "This land is ours now, troll! Leave while you have the chance!"
		 [/message]
		 [message]
			id=Trollleader
			message= _ "Our Shamans need this land to be closer to the heat of our God! You trespass on holy ground, leave or feel our wrath!"
		 [/message]
		 [message]
			id=Drakeleader
			message= _ "The temple is ours and you shall not profane it with your filth!"
		 [/message]
		 [message]
			id=Dulotmos
			message= _ "Looks like we may have to take part in the battle that is brewing if we want to pass, but I would cut my way through a sea of enemies if I had to to get to Marne. Onward, prepare for battle!"
		 [/message]
		 [message]
			id=Drakeleader
			message= _ "Dwarves! You shall not take back this land either! The trolls will kill you if you slay us, but I promise you safe passage through this territory should you help me crush them!"
		 [/message]
		 [message]
			id=Garug
			message= _ "Be careful, that is Blackrock clan, looters and killers, at war with Garug's clan. Garug will help you fight them."
		 [/message]
		 [message]
			id=Trollleader
			message= _ "Do not listen to the Drake, they will roast you alive before letting you pass! Kill them and I will make your deaths quick!"
		 [/message]
		 [message]
			id=Dulotmos
			message= _ "War makes for strange bedfellows, but our priority must be freeing Marne, by any means possible."
		 [/message]
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the Troll Chieftain"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Dulotmos"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Arolmar"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
  [/event]
   [event]
   #this is to have it make sense why they're in the caves -- they're neutral instead of the regular lawful. chaotic would be too overpowered.
       name=recruit
       [filter]
            side=2,3
       [/filter]
       first_time_only=no
       [modify_unit]
           [filter]
                race=drake
           [/filter]
           [effect]
                apply_to=alignment
                set=neutral
           [/effect]
        [/modify_unit]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Trollleader
        [/filter]
        [message]
            speaker=Trollleader
            message= _ "No! Argh!"
        [/message]
        [message]
            speaker=Dulotmos
            message= _ "Onward! Time to leave this hellscape behind!"
        [/message]
        [message]
            speaker=Arolmar
            message= _ "That passage up ahead should lead us to just south of Marne, but beware, we are entering Troll territory now."
        [/message]
        [endlevel]
            result=victory
            next_scenario=05_Troll_Domain
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Drakeleader
        [/filter]
        [message]
            speaker=Drakeleader
            message= _ "You fought with honor.."
        [/message]
    [/event]
{CHARACTER_DEATHS}
{TURNS_OVER}

[/scenario]
